//- GARETH DSOUZA
  CSE 6331 001 Spring 2018
  Assignment 3
extends layout

block content
  div(class="jumbotron")
    h1(class="display-4") Assignment 3 
    h1(class="display-4") Name :Gareth Dsouza
    h1(class="display-4") UTA ID :1001555048
  div(class="container")

  -if(!(Object.keys(queryResults).length === 0 && queryResults.constructor === Object))  
    div
      p 
      h5 Query Results
      p Time per query is #{queryResults.avgTime} milliseconds
      p Total Time taken is #{queryResults.totalTime/60 > 0?(queryResults.totalTime/60).toFixed(2) +" seconds ":queryResults.totalTime +" milliseconds"}
      p No of Queries executed: #{queryResults.noOfQueriesRan}
      hr
      br
  h4 Random Queries
  form(action="/" method="GET")
    p Enter the number of random queries to run: &nbsp;
      input(type="number" name="noOfQueries" required)
    input(class="btn btn-primary" type="submit" value="Execute")
  hr
  br
  h4 Random Queries With Magnitude Range
  form(action="/" method="GET")
    p Enter the number of random queries to run: &nbsp;
      input(type="number" name="noOfQueries" required)
    p Minimum Magnitude: &nbsp;
      input(type="number" name="minMag" step="any" required)
    p Maximum Magnitude: &nbsp;
      input(type="number" name="maxMag" step="any" required)
    input(class="btn btn-primary" type="submit" value="Execute")